* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #e9ecef;
}

html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: #fff;
}